

 #f1,#f2,#f3,#f4,#f5,#f6,#f7,#f8,#f9
{
   width:30%;
  height:30%;
  /* color: #99d8ea; */
}



.post-media{
  border-color: black;
  border-radius: 10px;
  border-width: 10px;
 border: black;
 padding-left:3%;
          padding-right:3%;
 
 background-color:#e26a07 ;
 

}

 .comment{
  background-color:aliceblue;
  border-radius: 1px;
  

  width:auto;
  
 }


/*.list-group{

 background-color:#a3f7b9;
}*/

.outer{
  padding-left: 10%;
  width: auto;
}

.font{
  color: blue;
}


